/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
body, input {
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
    text-transform: normal;
    letter-spacing: normal;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

h1 {font-size: 200%;line-height: 44px;}
h2 {font-size: 150%;line-height: 33px;}
h3 {font-size: 125%;line-height: 27.5px;}
h4 {font-size: 110%;line-height: 24.2px;}
h5 {font-size: 100%;line-height: 22px;}
h6 {font-size: 80%;line-height: 17.6px;}

.clear {clear: both;}

a {
    text-decoration: none;
}